<section id="apropos" class="section section-about">
    <div class="animate-up">
        <div class="section-box">
            <div class="profile">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="profile-photo"><img src={{ asset('Assets/img/rs-avatar-64x64.jpg') }} alt="David MOLINARI"/></div>
                    </div>
                    <div class="col-xs-7">
                        <div class="profile-info">
                            <div class="profile-preword"><span>Bonjour</span></div>
                            <h1 class="profile-title"><span>Je suis</span> David MOLINARI</h1>
                            <h2 class="profile-position">étudiant & apprenti développeur</h2></div>
                        <ul class="profile-list">
                            <li class="clearfix">
                                <strong class="title">Age</strong>
                                <span class="cont">24</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Adresse</strong>
                                <span class="cont">03 rue Dumont d'Urville, 83000, Toulon</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">E-mail</strong>
                                <span class="cont"><a href="mailto:david@rmolinari.net">david@rmolinari.net</a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Tel</strong>
                                <span class="cont"><a href="tel:+33789898989">07.69.66.66.66</a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Disponibilités</strong>
                                <span class="cont">Juin/Juillet/Aout 2017</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title"><span class="button">Aspiration</span></strong>
                                <span class="cont"><i class="icon icon-calendar"></i>Ecole d'ingénieur</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-social">
                <ul class="social">
                    <li><a class="ripple-centered" href="https://www.facebook.com/MMBMOLI" target="_blank"><i class="icon icon-facebook"></i></a></li>
                    <li><a class="ripple-centered" href="https://twitter.com/__DavidMOLINARI" target="_blank"><i class="icon icon-twitter"></i></a></li>
                    <li><a class="ripple-centered" href="https://www.linkedin.com/in/david-molinari/" target="_blank"><i class="icon icon-linkedin"></i></a></li>
                    <li><a class="ripple-centered" href="https://plus.google.com/u/0/106961020688013365322" target="_blank"><i class="icon icon-google-plus"></i></a></li>
                    <li><a class="ripple-centered" href="https://github.com/DavidMolinari" target="_blank"><i class="icon icon-github"></i></a></li>
                    <li><a class="ripple-centered" href="https://fr.pinterest.com/davidmolinarii/pins/" target="_blank"><i class="icon icon-pinterest"></i></a></li>
                    <li><a class="ripple-centered" href="https://www.reddit.com" target="_blank"><i class="icon icon-reddit"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="section-txt-btn">
            <p><a class="btn btn-lg btn-border ripple" target="_blank" href="#">Télécharger mon CV</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid doloremque facilis illum inventore ipsa sed soluta vero. Ad consequatur eligendi recusandae! Ad consequuntur deserunt dolor fugit laudantium nostrum optio quo!</p>
        </div>
    </div>
</section>