<section id="competences" class="section section-skills">
    <div class="animate-up">
        <h2 class="section-title">Compétences :</h2>
        <div class="section-box">
            <div class="row">
                {% for com in competences  %}
                    <div class="col-sm-6">
                        <div class="progress-bar">
                            <div class="bar-data">
                                <span class="bar-title"><strong>{{ com.libelle }}</strong></span>
                                <span class="bar-value">{{ com.value }}%</span>
                            </div>
                            <div class="bar-line">
                                <span class="bar-fill" data-width="{{ com.value }}%"></span>
                            </div>
                            <p></br></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section><!-- #competences -->