<section id="competences" class="section section-skills">
    <div class="animate-up">
        <h2 class="section-title">Compétences :</h2>
        <div class="section-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Développement web</span>
                            <span class="bar-value">70%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="51%"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Langage procédural</span>
                            <span class="bar-value">62%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="67%"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Framework Symfony</span>
                            <span class="bar-value">61%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="79%"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Design</span>
                            <span class="bar-value">89%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="67%"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Administration Système sous Linux</span>
                            <span class="bar-value">70%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="54%"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar">
                        <div class="bar-data">
                            <span class="bar-title">Gestion de projet</span>
                            <span class="bar-value">75%</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="80%"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #competences -->