<section id="experience" class="section section-experience">
    <div class="animate-up">
        <h2 class="section-title">Expériences professionnelles</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                <div class="timeline-box timeline-box-left">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>
                        <div class="date">2012 - 2017</div>
                        <h3>FREELANCE</h3>
                        <h4>Designer / Web Designer</h4>
                        <p>Je travaille à mon compte, pour de petits projets en Design / Web Design </br> Création de Logos, Flyers, Tracts, Bannières publicitaires, etc.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-left">
                        <span class="arrow"></span>
                        <div class="date">2015 - 2017</div>
                        <h3>DIRISI</h3>
                        <h4>Stage : Développeur</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque cumque dolorem, ducimus eius, error ex fuga natus nisi, nobis non quae quasi qui tempore vero voluptate voluptatibus. Error, ipsum?</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-left">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-left">
                        <span class="arrow"></span>
                        <div class="date">2015 - 2017</div>
                        <h3>Vakarm</h3>
                        <h4>Traducteur / Co-Rédacteur</h4>
                        <p>Je travaille en collaboration avec la structure Vakarm pour la rédaction, la traduction ( Anglais > Français et inversement ) et la correction de multiples articles de News et Brèves.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-left">
                        <span class="arrow"></span>
                        <div class="date">2015 - 2017</div>
                        <h3>LAN'OSTRESS</h3>
                        <h4>Administrateur compétitions E-SPORT</h4>
                        <p>Gestion de configurations de serveurs de jeu ( GLOBAL OFFENSIVE ) </p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-left">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-right">
                        <span class="arrow"></span>
                        <div class="date">2014-2015</div>
                        <h3>MEDIATECH</h3>
                        <h4>Stage en Maintenance informatique</h4>
                        <p>J'ai travaillé en tant que stagiaires pour le compte de Mediatech en maintenance informatique, j'ai acquis certaines connaissances que je n'avais pas en Hardware.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-left">
                        <span class="arrow"></span>
                        <div class="date">2011 - 2017</div>
                        <h3>Petits boulots</h3>
                        <h4>Divers</h4>
                        <p>J'ai travaillé pendant quelques années en tant que serveur, plongeur, récéptionniste, manutentionnaire, etc. </br> Je maintiens à l'heure actuelle le poste de plongeur certains jours par semaine.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!-- #experience -->
