<div class="content">
    <div class="container">
        <div class="blog">
            <div class="blog-grid">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <article class="post-box animate-up">
                        <div class="post-media">
                            <div class="post-image">
                                <a href="single.html"><img src={{ asset('Assets/img/uploads/portfolio/portfolio-thumb-05-610x600.jpg') }} alt=""> </a>
                            </div>
                        </div>
                        <div class="post-data">
                            <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                                <span class="day">Jour</span>
                                <span class="month">Mois</span>
                            </time>

                            <div class="post-tag">
                                <a href="">#catégorie</a>
                            </div>

                            <h3 class="post-title">
                                <a href="single-image.html">Titre</a>
                            </h3>

                            <div class="post-info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ex facilis impedit modi nemo, obcaecati omnis porro quaerat saepe sint tenetur totam ut voluptas? Accusantium dignissimos excepturi iure quos tempore?</p>
                                <a href=""><i class="icon icon-link"></i>Lien vers le projet</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

    </div>
</div>
</div>
