<div class="mobile-nav">
    <button class="btn-mobile mobile-nav-close"><i class="icon icon-close"></i></button>
    <div class="mobile-nav-inner">
        <nav id="mobile-nav" class="nav">
            <ul class="clearfix">
                <li><a href="index.html.twig#apropos">À propos</a></li>
                <li><a href="index.html.twig#competences">Compétences</a></li>
                <li><a href="index.html.twig#portfolio">Portfolio</a> </li>
                <li><a href="index.html.twig#experiences">Expérience</a></li>
                <li><a href="index.html.twig#todefine">Todefine</a></li>
                <li>
                    <a href="projets.html.twig">Projets</a>
                    <ul>
                        <li><a href="TODO.html.Twig">TODO</a></li>
                        <li><a href="TODO.html.Twig">TODO</a></li>
                        <li><a href="TODO.html.Twig">TODO</a></li>
                        <li><a href="TODO.html.Twig">TODO</a></li>
                        <li><a href="TODO.html.Twig">TODO</a></li>
                        <li><a href="TODO.html.Twig">TODO</a></li>
                        <li><a href="TODO.html.Twig">TODO</a></li>
                    </ul>
                </li>
                <li><a href="index.html.twig#agenda">Agenda <span></span></a></li>
                <li><a href="index.html.twig#contact">Contact <span></span></a></li>
            </ul>
        </nav>
    </div>
</div>