<li><a class="ripple-centered" href="https://www.facebook.com/MMBMOLI" target="_blank"><i class="icon  icon-facebook"></i></a></li>
<li><a class="ripple-centered" href="https://twitter.com/__DavidMOLINARI" target="_blank"><i class="icon icon-twitter"></i></a></li>
<li><a class="ripple-centered" href="https://www.linkedin.com/in/david-molinari/" target="_blank"><i class="icon icon-linkedin"></i></a></li>
<li><a class="ripple-centered" href="https://plus.google.com/u/0/106961020688013365322" target="_blank"><i class="icon icon-google-plus"></i></a></li>
<li><a class="ripple-centered" href="https://github.com/DavidMolinari" target="_blank"><i class="icon icon-github"></i></a></li>
<li><a class="ripple-centered" href="https://fr.pinterest.com/davidmolinarii/pins/" target="_blank"><i class="icon icon-pinterest"></i></a></li>
<li><a class="ripple-centered" href="https://www.reddit.com" target="_blank"><i class="icon icon-reddit"></i></a></li>