{% extends('@Dav/Default/base.html.twig') %}
{% block body %}
    <body class="home header-has-img loading">
    {% include('@Dav/Modules/mobileNav.html.twig') %}
    {% include('@Dav/Modules/sideBar.html.twig') %}
    <div class="wrapper">
        {% include('@Dav/Modules/header.html.twig') %}
        <div class="content">
            <div class="container">
                <!-- PARTIE LISTE PROJETS -->
                {% include('@Dav/Modules/listeProjets.html.twig') %}
            </div><!-- .container -->
        </div><!-- .content -->

        <footer class="footer">
            <div class="footer-social">
                {% include('@Dav/Modules/social.html.twig') %}
            </div>
        </footer><!-- .footer -->
    </div><!-- .wrapper -->

    <a class="btn-scroll-top" href="projets.html.twig#"><i class="icon icon-arrow-up"></i></a>
    <div id="overlay"></div>
    <div id="preloader">
        <div class="preload-icon"><span></span><span></span></div>
        <div class="preload-text">Loading ...</div>
    </div>

    </body>
{% endblock %}
