{% extends('@Dav/Default/base.html.twig') %}
{% block body %}
<body class="home header-has-img loading">
{% include('@Dav/Modules/mobileNav.html.twig') %}
{% include('@Dav/Modules/sideBar.html.twig') %}
<div class="wrapper">
    {% include('@Dav/Modules/header.html.twig') %}
    <div class="content">
        <div class="container">

            <!-- PARTIE A PROPOS -->
            {% include('@Dav/Modules/apropos.html.twig') %}
            <!-- PARTIE COMPETENCES -->
            {% include('DavBundle:Modules:competences.html.twig') %}
            <!-- PARTIE ETUDES -->
            {% include('DavBundle:Modules:etudes.html.twig') %}
            <!-- PARTIE EXPERIENCES -->
            {% include('DavBundle:Modules:experiences.html.twig') %}

            {% include('DavBundle:Modules:interets.html.twig') %}
            {% include('@Dav/Modules/contact.html.twig') %}

        </div><!-- .container -->
    </div><!-- .content -->

    <footer class="footer">
        <div class="footer-social">
            <ul class="social">
                {% include('@Dav/Modules/social.html.twig') %}
            </ul>
        </div>
    </footer><!-- .footer -->
</div><!-- .wrapper -->

<a class="btn-scroll-top" href="index.html.twig#"><i class="icon icon-arrow-up"></i></a>
<div id="overlay"></div>
<div id="preloader">
    <div class="preload-icon"><span></span><span></span></div>
    <div class="preload-text">Loading ...</div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="js/site.min.js"></script>
</body>
{% endblock %}
